<div class="container">
  <div class="page-header">
    <h1>Update User</h1>
  </div>
  <div  id="system-error" ng-messages="ajaxRequestError" ng-show="ajaxRequestError">
    <div class="alert alert-danger" role="alert" ng-message="error">System Error - An
      unexpected error occurred, status code returned is
      {{ajaxRequestError.status}}</div>
  </div>
  <div id="no-users-found" class="alert alert-info" ng-show="!data.id">
    <p>User not found.</p>
  </div>
  <div class="well" ng-show="data.id">
    <form name="form" class="css-form" autocomplete="off" novalidate>
      <div id="div-password">
        <div>
          <label for="input-password">Password:</label>
          <input id="input-password" ng-model="data.password" type="password" name="password" size="32" maxlength="120" required=""/>
        </div>
        <div ng-show="form.$submitted || form.dFrom.$touched">
          <div id="error-password-required" class="alert alert-warning" role="alert" ng-show="form.password.$error.required">Enter a password for the user</div>
        </div>
        <div>
          <label for="input-password2">Repeat password:</label>
          <input id="input-password2" ng-model="data.password2" type="password" name="password2" match="data.password" size="32" maxlength="120" required="" />
        </div>
        <div ng-show="form.$submitted || form.dFrom.$touched">
          <div id="error-password2-required" class="alert alert-warning" role="alert" ng-show="form.password2.$error.required">Confirm the password for the user</div>
        </div>
        <div ng-show="form.$submitted || form.dFrom.$touched">
          <div id="error-password-match" class="alert alert-warning" role="alert" ng-show="form.password2.$error.match">Passwords do not match</div>
        </div>
      </div>
      <div>
        <button id="btn-cancel"
                class="btn btn-lg btn-danger"
                mwl-confirm
                title="Reset password"
                message="Cancel?"
                confirm-text="Yes"
                cancel-text="No"
                on-confirm="cancelEdit(form)"
                >Cancel</button>
        <button id="btn-submit" type="submit" ng-click="resetPassword(form)" class="btn btn-lg btn-success">Save</button>
      </div>
    </form>
  </div>
</div>
