<div class="container">
  <div class="page-header">
    <h1>Change Password</h1>
  </div>
  <div  id="system-error" ng-messages="ajaxRequestError" ng-show="ajaxRequestError">
    <div class="alert alert-danger" role="alert" ng-message="error">System Error - An
      unexpected error occurred, status code returned is
      {{ajaxRequestError.status}}</div>
    <div id="bad-request" class="alert alert-danger" role="alert" ng-message="badRequest">Password
      change failed.  The most likely cause is that the current password was incorrect.
    </div>
  </div>
  <div class="well">
    <form name="form" class="css-form" autocomplete="off" novalidate>
      <div>
        <div>
          <label for="current-password">Current password:</label>
          <input id="current-password" ng-model="data.current" type="password" name="password" size="32" maxLength="120" required="" />
        </div>
        <div ng-show="form.$submitted || form.dFrom.$touched">
          <div id="error-current-password-required" class="alert alert-warning" role="alert" ng-show="form.password.$error.required">Enter your current password</div>
        </div>
        <div>
          <div class="input-hint">
            Strong passwords should avoid real words, be at least 9 characters
            and use a mixture of uppercase, lowercase, numeric and symbolic
            characters.  The strongest passwords will usually be a minimum of
            11 characters.
          </div>
          <label for="new-password">New password:</label>
          <input id="new-password" ng-model="data.password" class="password-strength" type="password" name="password1" size="32" maxlength="120" required="" />
        </div>
        <div ng-show="form.$submitted || form.dFrom.$touched">
          <div id="error-password-required" class="alert alert-warning" role="alert" ng-show="form.password1.$error.required">Enter a new password</div>
        </div>
        <div id="pw-strength-wrapper" class="progress">
          <div id="pw-strength" ng-class="{'progress-bar-success': passwordStrength == null, 'progress-bar-danger': passwordStrength != null && passwordStrength <= 1, 'progress-bar-warning': passwordStrength == 2, 'progress-bar-info': passwordStrength == 3, 'progress-bar-success': passwordStrength >= 4}"
               role="progressbar"
               ng-style="percent != null ? {'width': percent + '%'} : {}"
               aria-valuenow="{{passwordStrength}}"
               aria-valuemin="0"
               aria-valuemax="4"
               >
            <span ng-show="passwordStrength == null || passwordStrength == 0">&nbsp;</span>
            <span ng-show="passwordStrength == 1">Very weak</span>
            <span ng-show="passwordStrength == 2">Weak</span>
            <span ng-show="passwordStrength == 3">Strong</span>
            <span ng-show="passwordStrength == 4">Very strong</span>
          </div>
        </div>
        <div ng-show="crackTimeText">
          <p>Estimated crack time with ten attempts per second: {{ crackTimeText }}</p>
        </div>
        <div id="feedback-warning" ng-show="feedback.warning != '' && feedback.warning" class="alert-danger">
          <p><strong>Warning: {{ feedback.warning }}</strong></p>
        </div>
        <div>
          <ul ng-repeat="suggestion in feedback.suggestions">
            <li>{{ suggestion }}</li>
          </ul>
        </div>
        <div>
          <label for="new-password2">Repeat password:</label>
          <input id="new-password2" ng-model="data.password2" type="password" name="password2" match="data.password" size="32" maxlength="120" required="" />
        </div>
        <div ng-show="form.$submitted || form.dFrom.$touched">
          <div id="error-password2-required" class="alert alert-warning" role="alert" ng-show="form.password2.$error.required">Enter the password a second time</div>
        </div>
        <div ng-show="form.$submitted || form.dFrom.$touched">
          <div id="error-password-match" class="alert alert-warning" role="alert" ng-show="form.password2.$error.match">Passwords do not match</div>
        </div>
      </div>
      <div>
        <button id="btn-submit" type="submit" ng-disabled="crackTime == null || crackTime < 86400 * 365 * 3" ng-click="changePassword()" class="btn btn-lg btn-success">Save</button>
        <button id="btn-cancel"
                class="btn btn-lg btn-danger"
                mwl-confirm
                title="Change password"
                message="Cancel?"
                confirm-text="Yes"
                cancel-text="No"
                on-confirm="cancelEdit()"
                >Cancel</button>
      </div>
    </form>
  </div>
</div>
