<div class="container">
  <div class="page-header">
    <h1>Itinerary Route Edit</h1>
  </div>
  <div id="system-error" ng-messages="ajaxRequestError"
       ng-show="ajaxRequestError">
    <div class="alert alert-danger" role="alert" ng-message="error">System Error - An
      unexpected error occurred<span ng-show="ajaxRequestError.status">, status code returned is
        {{ajaxRequestError.status}}</span>
    </div>
  </div>
  <div class="well">
    <div id="route-not-found" class="alert alert-info" ng-show="data.points.length === 0">
      <p>Route not found or has no points</p>
    </div>
    <div ng-show="data.points.length > 0">
      <form name="search" class="css-form" novalidate>
        <div>
          <p><span class="view-label">Name:</span> {{route.name === '' ? 'ID: ' + route.id : route.name}}</p>
          <p>
            <span ng-show="route.distance">{{route.distance | number:2}} km</span>
            <span ng-show="route.distance">{{route.distance / 1.609344 | number:2}} mi</span>

            <span ng-show="route.highest" style="padding-left: 20px;">↗︎{{route.ascent | number:0}}&nbsp;m ↘︎{{route.descent | number:0}}&nbsp;m</span>
            <span ng-show="route.highest">↗︎{{route.ascent / 0.0254 / 12 | number:0}}&nbsp;ft ↘︎{{route.descent / 0.0254 / 12 | number:0}}&nbsp;ft</span>
            <span ng-show="route.highest" style="padding-left: 20px;">{{route.highest | number:0}}⇅{{route.lowest | number:0}}&nbsp;m</span>
            <span ng-show="route.highest">{{route.highest / 0.0254 / 12 | number:0}}&#x21c5;{{route.lowest / 0.0254 / 12 | number:0}}&nbsp;ft</span>
          </p>
          <table id="table-points" class="wide-table table table-striped">
            <tr>
              <th>
                <input id="select-all-points" type="checkbox" ng-model="data.selectAll" ng-click="selectAll(form)"/>
                <label for="select-all-points">Point ID</label>
              </th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Altitude</th>
              <th>Name</th>
              <th>Comment</th>
              <th>Description</th>
              <th>Symbol</th>
            </tr>
            <tr ng-repeat="point in data.points">
              <td>
                <input id="input-point-{{point.id}}" type="checkbox" ng-model="point.selected" ng-click="showMarker(point)" />
                <label for="input-point-{{point.id}}">{{point.id}}</label>
              </td>
              <td>{{point.lat | number:6}}</td>
              <td>{{point.lng | number:6}}</td>
              <td>{{point.altitude | number:0}}</td>
              <td>{{point.name}}</td>
              <td>{{point.comment}}</td>
              <td>{{point.description}}</td>
              <td>{{point.symbol}}</td>
            </tr>
          </table>
          <div id="div-paging">
            <paging
              class="small"
              page="page"
              page-size="pageSize"
              total="totalCount"
              hide-if-empty="true"
              show-prev-next="true"
              show-first-last="true"
              paging-action="doPagingAction('Paging Clicked', page, pageSize, total)">
            </paging>
          </div>
        </div>
        <div ng-messages="formError">
          <div id="error-edit-only-one" class="alert alert-warning" role="alert"
               ng-message="editOnlyOne">
            Select only one item when splitting the route.
          </div>
        </div>
        <div id="div-buttons" ng-show="!shared">
          <button id="btn-delete"
                  class="btn btn-lg btn-danger"
                  mwl-confirm
                  title="Confirm"
                  message="Delete the selected points?"
                  on-confirm="deletePoints(form)"
                  >Delete points</button>
          <button id="btn-split"
                  class="btn btn-lg btn-danger"
                  mwl-confirm
                  title="Confirm"
                  message="Split route before selected point"
                  on-confirm="split(form)"
                  >Split route</button>
        </div>
      </form>
    </div>
    <div>
      <button id="btn-close" ng-click="cancel(form)" type="button" class="btn btn-lg btn-danger">Close</button>
    </div>
  </div>
  <leaflet ng-if="status.showMap" controls="map.controls" markers="map.markers" paths="map.paths" bounds="map.bounds" lf-center="map.center" layers="map.layers" defaults="map.defaults" height="{{map.height}}"></leaflet>
  <div class="div-autozoom" ng-show="status.showMap">
    <label for="auto-zoom">Auto-zoom:</label>
    <input id="auto-zoom" type="checkbox" ng-model="data.autozoom" />
  </div>
</div>
