<div class="container">
  <div class="page-header">
    <h1>Update User</h1>
  </div>
  <div id="ajax-error" ng-messages="ajaxRequestError" ng-show="ajaxRequestError">
    <div id="system-error" class="alert alert-danger" role="alert" ng-message="error">System Error - An
      unexpected error occurred, status code returned is
      {{ajaxRequestError.status}}</div>
  </div>
  <div id="no-users-found" class="alert alert-info" ng-show="!data.id">
    <p>User not found.</p>
  </div>
  <div class="well" ng-show="data.id">
    <form name="form" class="css-form" autocomplete="off" novalidate>
      <div>
        <label for="input-nickname">Nickname:</label>
        <input id="input-nickname" ng-model="data.nickname" type="text" name="nickname" size="32" maxlength="120" required=""/>
      </div>
      <div ng-show="form.$submitted || form.dFrom.$touched">
        <div id="error-nickname-required" class="alert alert-warning" role="alert" ng-show="form.nickname.$error.required">Enter a nickname for the user</div>
      </div>
      <div>
        <label for="input-name">E-mail address:</label>
        <input id="input-name" ng-model="data.email" type="email" name="email" size="32" maxlength="120" required=""/>
      </div>
      <div ng-show="form.$submitted || form.dFrom.$touched">
        <div id="error-email-required" class="alert alert-warning" role="alert" ng-show="form.email.$error.required">Enter the user's e-mail address</div>
        <div id="error-email-invalid" class="alert alert-warning" role="alert" ng-show="form.email.$error.email">The e-mail address is invalid</div>
      </div>
      <div>
        <label for="input-firstname">First name:</label>
        <input id="input-firstname" ng-model="data.firstname" type="text" name="firstname" size="32" maxlength="120" required=""/>
      </div>
      <div ng-show="form.$submitted || form.dFrom.$touched">
        <div id="error-firstname-required" class="alert alert-warning" role="alert" ng-show="form.firstname.$error.required">Enter the user's first name</div>
      </div>
      <div>
        <label for="input-lastname">Last name:</label>
        <input id="input-lastname" ng-model="data.lastname" type="text" name="lastname" size="32" maxlength="120" required=""/>
      </div>
      <div ng-show="form.$submitted || form.dFrom.$touched">
        <div id="error-lastname-required" class="alert alert-warning" role="alert" ng-show="form.lastname.$error.required">Enter the user's last name</div>
      </div>
      <div id="div-active">
        <label for="input-admin">Administrator:</label>
        <input id="input-admin" type="checkbox" ng-model="data.admin" />
      </div>
      <div>
        <button id="btn-cancel"
                type="button"
                mwl-confirm
                title="Confirm"
                message="Cancel?"
                confirm-text="Yes"
                cancel-text="No"
                on-confirm="cancelEdit(form)"
                class="btn btn-lg btn-danger"
                >Cancel</button>
        <button id="btn-submit"
                type="submit"
                class="btn btn-lg btn-success"
                ng-click="saveUser(form)"
                >Save</button>
        <button id="btn-reset"
                class="btn btn-lg btn-danger"
                mwl-confirm
                title="Reset"
                message="Reset changes?"
                confirm-text="Yes"
                cancel-text="No"
                on-confirm="reset(form)"
                ng-show="!state.new"
                >Reset</button>
      </div>
    </form>
  </div>
</div>
